
@{
    ViewData["Title"] = "About";
}

<div class="about-hader">

</div>
<!--comprensive Section start-->

<section class="comprensive-section">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="com-box">
                <h2>COMPREHENSIVE VEHICLE SOLUTIONS</h2>
                <p>
                    Pacific Export Corporation is an upscale exporting business
                    that specializes in exporting brand-new, reconditioned cars, used cars and heavy machineries,
                    Generator, Compressor, Forklift, Excavator and Trucks as well as providing the spare parts services.
                    You are assured of quality services that we are provided with
                    the highest standard of live car auction system and logistic support.
                </p>
            </div>
        </div>
    </div>
</section>
<!--comprensive Section end-->
<!--forest Section start-->
<section class="forest-section">
</section>
<!--forest Section end-->
<!--service  start-->
<section class="service-setion">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="service-text-box">
                <h2 class="mb-5">"Quality Service satisfaction Guaranteed"</h2>
                @*<img src="~/images/Pacific Website- logo.png" alt="Alternate Text" />
                <div class="p-box">
                    <p class="little-description">
                        Pacific Export Corporation an upscale exporting business  that specializes in exporting brand-new, reconditioned cars, used cars and
                        heavy machinery and generators as well as providing the spare parts services. We are members of all auction houses in Japan and
                        ensure logistical and export support to countries all over the globe.
                    </p>
                </div>*@
            </div>
        </div>
    </div>
    <div class="row service-row">
        <div class="col-md-3 box">
            <img src="~/images/Pacific Website- troli.png" alt="Alternate Text" />
            <h3>Retail</h3>
            <p>
                We can cater to customers
                with retail or dealership needs
            </p>
        </div>
        <div class="col-md-3 box">
            <img src="~/images/Pacific Website- hummer.png" alt="Alternate Text" />
            <h3>
                Auction Bidding

            </h3>
            <p>
                We can source any vehicle
                according to you requirements
            </p>
        </div>
        <div class="col-md-3 box">
            <img src="~/images/Pacific Website- carlogo.png" alt="Alternate Text" />
            <h3>
                Logistics

            </h3>
            <p>
                We provide all kinds of logistics
                and export support
            </p>
        </div>
        <div class="col-md-3 box">
            <img src="~/images/Pacific Website- support.png" alt="Alternate Text" />
            <h3>
                Support

            </h3>
            <p>
                All the way via online
                and offline mediums
            </p>
        </div>

    </div>
    <div class="row">

        <div class="col-md-4  offset-md-4 service-ask-image ">
            <img src="~/images/Pacific Website- anyqsn.png" alt="Alternate Text" />
            <p> Have you any questions</p>
            <h3>
                +88 017 XXXXXXXX
            </h3>
        </div>


    </div>
    <div class="row">
        <div class="col-md-4 service-car-image">
            <img src="~/images/Pacific Website- silvercar1.png" alt="Alternate Text" />
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4 service-car-image">
            <img src="~/images/Pacific Website- silvercar2.png" alt="Alternate Text" />
        </div>
    </div>
</section>
<!--service Section end-->
<!--stock Section start-->
<section class="stock">
    <div class="row">
        <div class="col-md-12">
            <div class="stock-margin">
                <div class="row">
                    <div class="col-md-1">
                        <img src="~/images/Pacific Website- ABOUT US3.png" alt="Alternate Text" />
                    </div>
                    <div class="col-md-2">
                        <h3>Vehicles</h3>
                        <h3>in Stock</h3>
                    </div>
                    <div class="col-md-1">
                        <img src="~/images/Pacific Website- ABOUT US4.png" alt="Alternate Text" />
                    </div>
                    <div class="col-md-2">
                        <h3>Vehicles</h3>
                        <h3>in Stock</h3>
                    </div>
                    <div class="col-md-1">
                        <img src="~/images/Pacific Website- ABOUT US5.png" alt="Alternate Text" />
                    </div>
                    <div class="col-md-2">
                        <h3>Vehicles</h3>
                        <h3>in Stock</h3>
                    </div>
                    <div class="col-md-1">
                        <img src="~/images/Pacific Website- ABOUT US6.png" alt="Alternate Text" />
                    </div>
                    <div class="col-md-2">
                        <h3>Vehicles</h3>
                        <h3>in Stock</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--stock Section end-->
<!--about  start-->
<section class="about-section">
   
    <div class="row">
        <div class="col-md-4 offset-md-1">
            <div class="about1-side-text-box">
                <div class="row"><div class="col-md-2"><h2>Service</h2></div></div>
                <div class="row">                   
                    <div class="col-md-2">
                        <div class="red-margin mr-auto">
                            <h3>10</h3>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="newcar-margin">
                            <pre class="pre1"> NEW CARS </pre>
                            <pre class="pre1"> HEAVY MACHINERY</pre>
                        </div>
                    </div>
                </div>            
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            After successful bidding, we arrange shipment to designated port.
                            Basically we are supporting our customers to buy cars and heavy machineries
                            from the auction and offering logistics support.
                            Customers are paying service charges to us and other relevant expenses
                            related to purchase to complete shipment.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="pre-majn1">
                            <pre>New Cars</pre>
                            <pre>Reconditioned Cars</pre>
                            <pre>Heavy Machinery</pre>
                            <pre>Spare Parts</pre>
                            <pre>Export, Import & Logistics</pre>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-4 offset-md-1">
            <div class="img-box1">
                <img src="~/images/Pacific Website- forstroad.png" alt="Alternate Text" />
            </div>
        </div>
    </div>
</section>
<!--about galeary end-->
<!--action section start-->