
@{
    ViewData["Title"] = "About";
}

    <div class="about-hader">

    </div>
    <section class="comprensive-section">
        <div class="row">
          <div class="col-md-8 offset-md-2">
              <div class="com-box">
                  <h2>COMPREHENSIVE VEHICLE SOLUTIONS</h2>
                  <p>
                      Pacific Export Corporation is an upscale exporting business
                      that specializes in exporting brand-new, reconditioned cars, used cars and heavy machineries,
                      Generator, Compressor, Forklift, Excavator and Trucks as well as providing the spare parts services.
                      You are assured of quality services that we are provided with
                      the highest standard of live car auction system and logistic support.
                  </p>
              </div>
          </div>
        </div>
    </section>
    