@{
    ViewData["Title"] = "Home Page";
}
<!--header start-->
<div class="header">
    <div class="row">
        <div class="col-md-10">
            <div class="hero-text-box">
                <h1>
                    WE ARE EXPORT GLOBALLY
                    ALL OVER THE WORLD
                </h1>
                <p class="">
                    We are a leading exporter of pre-owned and
                    new Japanese automobile & heavy machinery.
                </p>
                <a href="#" class="text-decoration-none ">Discover More</a>
            </div>
        </div>
    </div>
</div>

<!--header end-->
<!--filter Section-->
<section class="filter-section ">
    <div class="row">
        <div class="col-md-4 offset-md-2">
            <div id="filter-box" class="ml-4">
                <div class="filter-header"> <h2>Search MY CAR</h2></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input name="srcTxt" class="form-control src1" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <select class="form-control src2">
                                <option value="value">text</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <select class="form-control src2">
                                <option value="value">text</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <select class="form-control src2">
                                <option value="value">text</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <select class="form-control src2">
                                <option value="value">text</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <select class="form-control src2">
                                <option value="value">text</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <select class="form-control src2">
                                <option value="value">text</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 offset-md-4">
                        <button class="filter-btn">Search Inventory</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--filter end-->
<!--service Section-->
<section class="service-setion">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="service-text-box">
                <h2>Welcome to</h2>
                <img src="~/images/Pacific Website- logo.png" alt="Alternate Text" />
                <div class="p-box">
                    <p class="little-description">
                        Pacific Export Corporation an upscale exporting business  that specializes in exporting brand-new, reconditioned cars, used cars and
                        heavy machinery and generators as well as providing the spare parts services. We are members of all auction houses in Japan and
                        ensure logistical and export support to countries all over the globe.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row service-row">
        <div class="col-md-3 box">
            <img src="~/images/Pacific Website- troli.png" alt="Alternate Text" />
            <h3>Retail</h3>
            <p>
                We can cater to customers
                with retail or dealership needs
            </p>
        </div>
        <div class="col-md-3 box">
            <img src="~/images/Pacific Website- hummer.png" alt="Alternate Text" />
            <h3>
                Auction Bidding

            </h3>
            <p>
                We can source any vehicle
                according to you requirements
            </p>
        </div>
        <div class="col-md-3 box">
            <img src="~/images/Pacific Website- carlogo.png" alt="Alternate Text" />
            <h3>
                Logistics

            </h3>
            <p>
                We provide all kinds of logistics
                and export support
            </p>
        </div>
        <div class="col-md-3 box">
            <img src="~/images/Pacific Website- support.png" alt="Alternate Text" />
            <h3>
                Support

            </h3>
            <p>
                All the way via online
                and offline mediums
            </p>
        </div>

    </div>
    <div class="row">

        <div class="col-md-4  offset-md-4 service-ask-image ">
            <img src="~/images/Pacific Website- anyqsn.png" alt="Alternate Text" />
            <p> Have you any questions</p>
            <h3>
                +88 017 XXXXXXXX
            </h3>
        </div>


    </div>
    <div class="row">
        <div class="col-md-4 service-car-image">
            <img src="~/images/Pacific Website- silvercar1.png" alt="Alternate Text" />
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4 service-car-image">
            <img src="~/images/Pacific Website- silvercar2.png" alt="Alternate Text" />
        </div>
    </div>
</section>
<!--service end-->
<!--Featue galeary start-->
<section class="feature-section">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="feature-text-box">
                <h2>FEATURE CARS</h2>  
                <div class="p-box">
                    <p class="little-description">
                        We can cater to customers with retail or dealership needs We can cater to customers with retail or dealership needs We can cater to
                        customers with retail or dealership needs We can cater to customers with retail or dealership needs We can cater to customers.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Featue galeary end-->
