@{
    ViewData["Title"] = "Home Page";
}
<!--header start-->
<div class="header">
    <div class="row">
        <div class="col-md-4">
            <div class="hero-text-box">
                <h1>
                    WE ARE EXPORT GLOBALLY
                    ALL OVER THE WORLD
                </h1>
                <p>
                    We are a leading exporter of new and used Japanese cars & heavy machinery.
                </p>
                <a href="#" class="text-decoration-none ">Discover More</a>
            </div>
        </div>
    </div>
</div>

<!--header end-->
<!--filter Section-->

<section class="filter-section ">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div id="filter-box" class="ml-4">
                    <div class="filter-header"> <h2>Search MY CAR</h2></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input name="srcTxt" class="form-control src1"  />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <select class="form-control src2">
                                    <option value="value">text</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <select class="form-control src2">
                                    <option value="value">text</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <select class="form-control src2">
                                    <option value="value">text</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <select class="form-control src2">
                                    <option value="value">text</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <select class="form-control src2">
                                    <option value="value">text</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <select class="form-control src2">
                                    <option value="value">text</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 offset-md-4">
                            <button class="filter-btn">Search Inventory</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!--filter end-->
<!--service Section-->
<section class="service-setion">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="service-text-box">
                <h2>Welcome to</h2>
                <img src="~/images/Pacific Website- logo.png" alt="Alternate Text" />
                <div class="p-box">
                    <p class="little-description">
                        Pacific Export Corporation an upscale exporting business  that specializes in exporting brand-new, reconditioned cars, used cars and
                        heavy machinery and generators as well as providing the spare parts services. We are members of all auction houses in Japan and
                        ensure logistical and export support to countries all over the globe.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row service-row">
        <div class="col-md-3 box">
            <img src="~/images/Pacific Website- troli.png" alt="Alternate Text" />
            <h3>Retail</h3>
            <p>
                We can cater to customers
                with retail or dealership needs
            </p>
        </div>
        <div class="col-md-3 box">
            <img src="~/images/Pacific Website- hummer.png" alt="Alternate Text" />
            <h3>
                Auction Bidding

            </h3>
            <p>
                We can source any vehicle
                according to you requirements
            </p>
        </div>
        <div class="col-md-3 box">
            <img src="~/images/Pacific Website- carlogo.png" alt="Alternate Text" />
            <h3>
                Logistics

            </h3>
            <p>
                We provide all kinds of logistics
                and export support
            </p>
        </div>
        <div class="col-md-3 box">
            <img src="~/images/Pacific Website- support.png" alt="Alternate Text" />
            <h3>
                Support

            </h3>
            <p>
                All the way via online
                and offline mediums
            </p>
        </div>

    </div>
    <div class="row">

        <div class="col-md-4  offset-md-4 service-ask-image ">
            <img src="~/images/Pacific Website- anyqsn.png" alt="Alternate Text" />
            <p> Have you any questions</p>
            <h3>
                +88 017 XXXXXXXX
            </h3>
        </div>


    </div>
    <div class="row">
        <div class="col-md-4 service-car-image">
            <img src="~/images/Pacific Website- silvercar1.png" alt="Alternate Text" />
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4 service-car-image">
            <img src="~/images/Pacific Website- silvercar2.png" alt="Alternate Text" />
        </div>
    </div>
</section>
<!--service end-->
<!--Featue galeary start-->
<section class="feature-section">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="feature-text-box">
                <h2>FEATURE CARS</h2>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="feature-text-box">
                <h3>
                    MITSUBISHI OUTLANDER

                </h3>
                <p>
                    We can cater to customers
                </p>
            </div>
        </div>
    </div>
</section>
<!--Featue galeary end-->
<!--about  start-->
<section class="about-section">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="about-text-box">
                <h2>"Quality Service satisfaction Guaranteed"</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="about-side-text-box">
                <h2>Auction Services</h2>
                <p>
                    Currently we are purchasing cars and heavy machineries for our overseas customers
                    according to their requirements.
                    All customers are sending lot number with chassis number mentioned in
                    auction house name and desired bid price.
                </p>
                <button class="about-btn">Make an Enquiry</button>
            </div>
        </div>
        <div class="col-md-4 offset-md-1">
            <div class="img-box">
                <img src="~/images/Pacific Website- HOME PAGEcarmetting.png" alt="Alternate Text" />
            </div>
        </div>
    </div>
</section>
<!--about galeary end-->
<!--action section start-->
<section class="action-section">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="action-text-box">
                <h3>
                    Auction Association Membrship
                </h3>
            </div>
        </div>
    </div>

    <div class="row">
            <div class="col-md-2">
                <img src="~/images/Pacific Website- HOME PAGEfooterlogo1.png" alt="Alternate Text" />
            </div>
            
            <div class="col-md-2">
                <img src="~/images/Pacific Website- HOME PAGEfooterlogo2.png" alt="Alternate Text" />
            </div>
            <div class="col-md-2">
                <img src="~/images/Pacific Website- HOME PAGEfooterlogo3.png" alt="Alternate Text" />
            </div>
            <div class="col-md-2">
                <img src="~/images/Pacific Website- HOME PAGEfooterlogo4.png" alt="Alternate Text" />
            </div>
            <div class="col-md-2">
                <img src="~/images/Pacific Website- HOME PAGEfooterlogo5.png" alt="Alternate Text" />
            </div>
            <div class="col-md-2">
                <img src="~/images/Pacific Website- HOME PAGEfooterlogo6.png" alt="Alternate Text" />
            </div>
        </div>
    <div class="row">
        <div class="col-md-6 offset-md-4">
            <div class="row">
                <div class="col-md-4">
                    <div class="col-md-2">
                        <img src="~/images/Pacific Website- HOME PAGEFOOTER11.png " class="larg3" alt="Alternate Text" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-2">
                        <img src="~/images/Pacific Website- HOME PAGEFOOTER11.png " class="larg3" alt="Alternate Text" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--action section end-->
<!--member section start-->
<section class="member-section">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="member-text-box">
                <h3>
                    WE ARE A MEMBER OF
                </h3>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <img src="~/images/Pacific Website- HOME PAGEfooterlogo10.jpg " class="larg1 " alt="Alternate Text" />
        </div>
        <div class="col-md-2">
            <img src="~/images/Pacific Website- HOME PAGEfooterlogo12.jpg " class="larg2" alt="Alternate Text" />
        </div>
       
        <div class="col-md-2">
            <img src="~/images/Pacific Website- HOME PAGEfooterlogo14.jpg " class="larg4 ml-1" alt="Alternate Text" />

        </div>
        <div class="col-md-2">
            <img src="~/images/Pacific Website- HOME PAGEfooterlogo15.jpg " class="larg5 ml-1" alt="Alternate Text" />

        </div>
        <div class="col-md-2">
            <img src="~/images/Pacific Website- HOME PAGEfooterlogo16.jpg " class="larg6 mr-2" alt="Alternate Text" />

        </div>
    </div>
</section>
<!--member section end-->
<!--partner section start-->
<section class="partner-section">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="partner-text-box">
                <h3>
                    Our Bankers
                </h3>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <img src="~/images/Pacific Website- HOME PAGEfooterlogo9.jpg" alt="Alternate Text" />
                </div>
                <div class="col-sm-4">
                    <img src="~/images/Pacific Website- HOME PAGEfooterlogo7.jpg" alt="Alternate Text" />
                </div>
                <div class="col-sm-4">
                    <img src="~/images/Pacific Website- HOME PAGEfooterlogo8.jpg" alt="Alternate Text" />

                </div>
            </div>
        </div>
    </div>
</section>
<!--partner section end-->
