/*Navigation bar start*/

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box; 
}
.row{
    max-width:1140px;
    margin:0 auto;
}
nav {
    background: #ffffff !important;
}
nav ul li .nav-link {
    text-transform: uppercase;
}


/*header section start*/
.header {
    
    background-image: url('/css/image/Pacific Website- HOME PAGEhaddercar.png');
    height: 85vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.hero-text-box {
    position: relative;
    width: 650px;
    margin-top:70px;
    text-align: left;
}
    .hero-text-box h1 {
        font-weight: 600;
        color: #1f2150;
        font-size:50px;
    }
    .hero-text-box p {
        text-align: justify;
        font-weight: 400;
        font-size: 25px;
        text-align:justify;
        color: #000000;
    }
    .hero-text-box a {
        padding: 10px 20px;
        height: 60px;
        width: 244px;
        border-radius: 10px;
        font-weight: 200;
        font-size: 15px;
        color: #000;
        border: 0.5px solid #1e2150;
        box-shadow: 0 0 5px #1e2150;
    }
/*header section end*/
/*filter section start*/
.clearfix::after {
    content: "";
    display: table;
    clear: both;
    height: 0;
    visibility: hidden
}

.filter-section {
    height: auto;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;
    text-align: center;
    background-image: url('/css/image/Pacific Website- HOME PAGE.png')
}
#filter-box {

    margin: -50px;
    width: auto;
    height: auto;
    background: #fff;
    border-radius: 30px;
    box-sizing: border-box;
    margin-bottom:100px;
}
.filter-header{
    padding-top:30px;
    padding-bottom:4px;
}
.filter-section #filter-box .filter-header h2 {
    text-transform: uppercase;
    color: #1f2150;
    font-weight: 800;
    font-size: 20px;
}
.filter-section #filter-box .src1 {
    background: #eaf1fb !important;
    border: 0;
    border-radius:10px;
    outline: 0;
    height: 50px;
}
.filter-section #filter-box .src2 {
    background: #eaf1fb !important;
    border: 0;
    outline: 0;
    border-radius:10px;
    height: 35px;
}
.filter-section #filter-box .filter-btn {
    background-image: linear-gradient(to right, #000d34, #00356f);
    padding: 8px 50px;
    font-weight: 200;
    border: 0;
    border-radius: 10px;
    font-weight: 200;
    font-size: 12px;
    color: #eaf1fb;
    margin-bottom: 30px;
    margin-top: 30px;
}

/*filter section ender*/


/*service setion start*/
.service-setion {
    height: auto;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    margin:0 auto;
    background-color: #f3f8ff;
}
.service-text-box h2 {
    text-transform: uppercase;
    color: #1f2150;
    font-weight: 800;
    font-size: 20px;
    padding-top:100px;
    padding-bottom:10px;
}
.service-text-box img {
   padding-bottom:5px;
}
.p-box {
    height: 100px;
    width: 700px;
    box-sizing: border-box;
    margin-bottom: 50px;
    margin-top:35px;
}
.service-text-box .little-description {
    text-transform: uppercase;
    color: #000000;
    font-weight: 500;
    font-size: 10px;
    
}
.service-row{
    box-sizing:border-box;
}
.box h3 {
    padding-top: 5px;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
}
.box p {
    font-size: 15px;
    font-weight: 200;
}
.box img {
   width:60px;
   height:60px;
   
}
.service-ask-image{
    margin-top:60px;
}
.service-ask-image img {
    
    width: 70px;
    height: 70px;
}
 .service-ask-image h3 {
        font-size: 20px;
        font-weight: 800;
        text-transform: uppercase;
        color: #1f2150;
        padding:0;
    }
 .service-ask-image p {
        font-size: 15px;
        font-weight: 200;
        color: #000000;
    }
.service-car-image {
    left: 0;
   
}
.service-car-image img{
    width:400px;
    
}
/*service section ender*/

/*feature section ender*/
.feature-section {
    height: auto;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    background-image: url('/css/image/Pacific Website- HOME PAGEFOOTER.png')
}
.feature-text-box h2 {
    padding-top: 100px;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
    
}
.feature-text-box .little-description {
    padding: 0;
    
    font-size: 15px;
    font-weight: 200;
    color: #ffffff;
}
.feature-text-box p {
    padding: 0;
   
    font-size: 10px;
    font-weight: 200;
    color: #e9eaed;
}
.feature-text-box h3 {
    padding-top: 100px;
    font-size: 15px;
    font-weight: 800;
    text-transform: uppercase;
    color: #e9eaed;
}
/*feature section ender*/
/*about section ender*/
.about-section {
    height: auto;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    margin: 0 auto;
    background-color: #f3f8ff;
}

.about-section h2 {
    font-weight: 600;
    font-size: 20px;
    color: #1f2150;
    margin-top:60px;
    text-transform:uppercase;
    
}
    .about-section .about-btn {
        background-image: linear-gradient(to right, #000d34, #00356f);
        padding: 8px 50px;
        font-weight: 200;
        border: 0;
        border-radius: 10px;
        font-weight: 200;
        font-size: 12px;
        color: #eaf1fb;
        margin-bottom:80px;
       
    }

    .about-section p {
        text-align: justify;
        font-weight: 200;
        font-size: 15px;
        color:#000000
    }
.about-margin{
    margin-bottom:50px;
    margin-top:50px;
}
.img-box img {
    box-sizing: border-box;
    height: 280px;
    width: 430px;
    margin-top: 20px;
    margin-bottom: 60px;
    /*margin-left: 80px;*/
}
.about-side-text-box {
    position: relative;
    width: 350px;
    margin-top: 70px;
    text-align: left;
}

/*about section ender*/
/*action section ender*/
.action-section {
    height: auto;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    background-image: url('/css/image/Pacific Website- HOME PAGEFOOTER1.png')
}
.action-text-box h3 {
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    margin-top: 60px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.action-section img {
    height: 40px;
    width: 80px;
    margin-bottom:50px;
}
/*action section ender*/
/*partner section start*/
.partner-section {
    height: auto;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    background-color: #f3f8ff;
    background-image: linear-gradient(to right, #f3f8ff, #f3f8ff);
}
.partner-section h3 {
        font-weight: 800;
        font-size: 20px;
        color: #000000;
        margin-top: 60px;
        margin-bottom: 30px;
        text-transform: uppercase;
    }
    .partner-section img {
        margin-bottom: 60px;
        height: 60px;
        width: 140px;
    }
/*partner section ender*/
/*member section start*/
.member-section {
    height: auto;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    background-image: url('/css/image/Pacific Website- HOME PAGEfooterlow.png')
}
    .member-section img {
        margin-bottom: 50px;
        height:60px;
        width:140px;
    }
    .member-section h3 {
        font-weight: 600;
        font-size: 20px;
        color: #fff;
        margin-top: 60px;
        margin-bottom: 30px;
        text-transform: uppercase;
    }
    .member-section .larg1 {
        height: 60px;
        width: 80px;
        margin-bottom: 50px;
    }
  
    .member-section .larg2 {
         height: 60px;
        width: 80px;
        margin-bottom: 50px;
    }
    
    .member-section .larg3 {
        height: 60px;
        width: 130px;
        margin-bottom: 50px;
    }

    .member-section .larg4 {
        height: 60px;
        width: 140px;
        margin-bottom: 50px;
    }
    .member-section .larg5 {
        height: 60px;
        width: 150px;
        margin-bottom: 50px;
    }
    .member-section .larg6 {
      
        width: 250px;
        height: 60px; 
        margin-bottom: 50px;
    }
/*member section ender*/
/*footer1 section start*/
.footer1 {
    height:auto;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    background-image: url('/css/image/Pacific Website- bluefooterup.png')
}
.footer1 label{
        font-weight: 600;
        font-size: 20px;
        color: #fff;
        margin-top: 60px;
        margin-bottom: 30px;
        text-transform: uppercase;
 }
.footer1 button {
        background-image: linear-gradient(to right, #b30c83, #691180);
        padding: 8px 20px;
        font-weight: 200;
        border: 0;
        border-radius: 10px;
        font-weight: 200;
        font-size: 12px;
        color: #eaf1fb;
        margin-bottom: 30px;
       
 }
    .footer1 .form-control1 {
        background: #ffffff !important;
        border: 0;
        outline: 0;
        border-radius: 10px;
        padding: 4px 50px;
        text-align: left;
        margin-bottom: 30px;
       
    }
.footer1 nav {
    background: #000000 !important;
    
}
    .footer1 a span {
        color: #f3f8ff !important;
        margin-left: 5px;
        margin-right: 10px;
        font-weight: 600;
    }
    .footer1 ul{
        margin-left:auto;
        margin-right:auto;
            
    }
    .footer1 a i {
        color: #f3f8ff !important;
        margin-left: 5px;
        
        font-weight: 800;
        font-size: 25px;
        margin-top: 2px;
    }
/*footer1 section ender*/
/*footer2 section ender*/
.footer2 {
    height: auto;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    background-image: url('/css/image/Pacific Website- HOME PAGEfootertop.png')
}
.footer2 .pre1 pre{
    color:#fff;
    text-align:justify;
  
    margin:0;
}
.prebox
{
    margin-top:110px;
}
.footer2 .prebox pre {
    color: #fff;
    text-align: justify;
    margin: 0;
}
.pre-majn{
    margin-left:50px;
    margin-top:10px;
}
.footer2 img {
    width: 400px;
    margin-top: 80px;
}
/*footer2 section ender*/
/*home  Page end*/


/*about  Page start*/

/*about  section start*/
.about-hader {
    background-image: url('/css/image/Pacific Website- ABOUT US1.png');
    height: 85vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
/*comprensive section   start*/
.comprensive-section {
    height: auto;
    background: #f3f8ff;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.comprensive-section p{
    text-align:center;
    color:#000000;
    font-size:15px;
    font-weight:200;
}
    .comprensive-section h2 {
        color: #1f2150;
        text-align:center;
        font-size:30px;
        font-weight:800;
    }
.com-box{
    margin-top:200px;
    margin-bottom:200px;
}
/*comprensive section   start*/

/*forest section   start*/

/*forest section   start*/
.forest-section {
    background-image: url('/css/image/Pacific Website- ABOUT US.png');
    height: 55vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
/*forest section   end*/
/*stock section   start*/
.stock {
    background-image: url('/css/image/Pacific Website- ABOUT US2.png');
    height: 55vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
    .stock h3{
        color: #fff;
        font-size: 15px;
        font-weight: 800;
        text-transform:uppercase;
    }
    /*.stock img {
        color: #fff;
        height:45px;
        width:50px;
    }*/
.stock-margin{
   
    margin-top:150px;
    margin-left:25px;
    margin-right:25px;
}
.stock h3 {
    color: #fff;
    font-size: 15px;
    font-weight: 800;
    text-transform: uppercase;
}
.about1-side-text-box{

    position: relative;
    width: 350px;
    margin-top: 70px;
    text-align: left;
}
    .about1-side-text-box h3 {
        color: red;
        font-size: 15px;
        font-weight: 800;
        text-transform: uppercase;
    }
    .about1-side-text-box h3 span {
        color: #000000;
        font-size: 15px;
        font-weight: 800;
        text-transform: uppercase;
    }
    .about1-side-text-box pre{
        margin:0;
    }
/*stock section   end*/

/*about  Page end*/































/*forest section  Page end*/
/*about  Page end*/
