<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PacificWepsiteCustomerPAnel</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha256-L/W5Wfqfa0sdBNIKN9cG6QA5F2qx4qICmU2VgLruv9Y="
          crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css"
          integrity="sha256-x8PYmLKD83R9T/sYmJn1j3is/chhJdySyhet/JuHnfY="
          crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
  
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand ml-5" href="#">
                <img src="~/images/Pacific Website- logo.png" alt="Alternate Text" />
            </a>
            <button class="navbar-toggler badge-dark ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link " asp-action="About" asp-controller="Home" >About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " asp-action="About" asp-controller="Home">Contact</a>
                    </li>
                </ul>

            </div>
        </nav>
   
    <div >
        @RenderBody()
    </div>

    <section class="footer1">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="form-group mt-5">
                    <label>Subscribe to our newsleter feed</label>
                    <input class="form-control1" placeholder="Enter your Email" />
                    <button class="sub-btn">Subcribe</button>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg " >
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ">
                        <li class="nav-item active"><a href="#" class="nav-link"><span>Facebook</span><i class="fab fa-facebook-f"></i></a></li>
                        <li class="nav-item active"><a href="#" class="nav-link"><span>Twitter</span><i class="fab fa-twitter"></i></a></li>
                        <li class="nav-item active"><a href="#" class="nav-link"><span>Dribbble</span><i class="fab fa-dribbble"></i></a></li>
                        <li class="nav-item active"><a href="#" class="nav-link"><span>Google pluse</span><i class="fab fa-google-plus-g"></i></a></li>
                        <li class="nav-item active"><a href="#" class="nav-link"><span>Vimeo</span><i class="fab fa-vimeo-v"></i></a></li>
                        <li class="nav-item active"><a href="#" class="nav-link"><span>Pinterest</span><i class="fab fa-pinterest"></i></a></li>
                        <li class="nav-item active"><a href="#" class="nav-link"><span>Behance</span><i class="fab fa-behance"></i></a></li>
                        <li class="nav-item active"><a href="#" class="nav-link"><span>Linkedin</span><i class="fab fa-behance"></i></a></li>
                    </ul>
                </div>
          
        </nav>
    </section>
    <section class="footer2">
        <div class="row">

            <div class="col-md-4 pre1">
                <img src="~/images/Pacific Website- HOME PAGElogowhite.png" alt="Alternate Text" class="mt-5" />
                <div class="pre-majn">
                    <pre>Minoh Freres bldg (4th Floor)</pre>
                    <pre>412 Senba Higashi 1-10-9</pre>
                    <pre>Minoh Shi Osaka</pre>
                    <pre>562-0035 Japan</pre>
                </div>
            </div>
            <div class="col-md-4 pre2">
                <div class="prebox">
                    <pre>Call Us: +81 727 49 6266)</pre>
                    <pre>Fax: +81 727 49 6277</pre>
                    <pre>Email: pacificexp2015@gmail.com</pre>
                </div>
                
            </div>
            <div class="col-md-4">
                <img src="~/images/Pacific Website- silvercar2.png" alt="Alternate Text" />
            </div>
        </div>
    </section>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </environment>

    <script src="https://kit.fontawesome.com/7897634c4c.js" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
